body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px ;
    background-color: gray;
    height: 100vh;
    font-family: "Indie Flower";
    font-weight: bold;
}

h1{
    font-size: 10rem;
    margin-top: 5%;
    padding-bottom: 5rem;
}

.container{
    width: 80%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 100px;
}

.container h2{
    font-size: 4rem;
}



.dice-container{
    display: flex;
    width: 80% ;
    justify-content: space-around;
    margin-left: 5%;
    

}

.img1{
    
    height: 15rem;
    border-radius: 20%;
}

.img2{
    
    height: 15rem;
    border-radius: 20%;
}


.scores{
    margin-top: 10%;
    font-size: 5rem;
    margin-left: 5%;
}

.scores h2{
    font-size: 5rem;
    text-align: center;
    padding-bottom: 10px;
    padding-left: 5px;
}

.scores ul{
    list-style: none;
}

#cust-button{
    background-color: yellowgreen;
    border: solid gray;
    border-radius: 10%;
    font-weight: bolder;
    font-size: 2rem;
}